body {
  background-color: mistyrose;
}

.elegant-font {
  font-family: 'Courier New', Courier, monospace;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

*:checked + span,
.cancel {
  text-decoration: line-through;
}

.custom-bg {
  background-color: hsl(39, 88%, 87%);
}

#task {
  padding: 20px;
}

#myList {
  list-style: none;
  margin: 0;
}

.container {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input:placeholder-shown {
  font-style: italic;
}

.form-control {
  border: none;
}

.list-group {
  margin: 0;
}

.list-group-item {
  border: none;
}

#refresh {
  cursor: pointer;
  color: red;
}

[contenteditable='true']#dash {
  white-space: nowrap;
  overflow: hidden;
  padding: 7px;
  outline: 0 solid transparent;
}

.close {
  display: none;
  color: red !important;
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  cursor: move;
  width: 60px;
}

.ellipsis-container:hover .fa-ellipsis-v {
  color: #222;
}

.fa-ellipsis-v {
  color: #777;
}

.fa-trash-o {
  cursor: pointer;
  margin-left: auto;
}

input[type='checkbox'] {
  cursor: pointer;
}

#complete {
  text-decoration: none !important;
}

#complete p {
  color: #777;
  font-size: 15px;
  font-weight: lighter;
}

#complete p:hover {
  color: #000;
  text-decoration: underline;
}

.spin-animation {
  transition: 0.9s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.reset {
  cursor: pointer;
  color: red;
  transition: 0.5s;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
