body {
  background-color: #f6f6f6;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

#task {
  padding: 20px;
}

#myList {
  list-style: none;
  margin: 0;
}

.main {
  width: 500px;
  margin: 100px auto;
  background: #fff;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input:placeholder-shown {
  font-style: italic;
}

.form-control {
  border: none;
}

.list-group {
  margin: 0;
}

.list-group-item {
  border: none;
}

#refresh {
  cursor: pointer;
  color: red;
}

[contenteditable='true']#dash {
  white-space: nowrap;
  overflow: hidden;
  padding: 7px;
  outline: 0 solid transparent;
}

.close {
  display: none;
  color: red !important;
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.fa-ellipsis-v,
.fa-trash-o {
  margin-left: auto;
  cursor: pointer;
}

.cancel {
  text-decoration: line-through;
}

input[type='checkbox'] {
  cursor: pointer;
}

#complete {
  text-decoration: none !important;
}

#complete p {
  color: #777;
  font-size: 15px;
  font-weight: lighter;
}

#complete p:hover {
  color: #000;
  text-decoration: underline;
}

.spin-animation {
  transition: 0.9s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.reset {
  cursor: pointer;
  color: red;
  transition: 0.5s;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
